.card {
    width: 300px;
    height: 600px;
    border: 0.1em solid #f6c90e;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #eeeeee;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.2), 6px 12px 35px 0 rgba(0, 0, 0, 0.19);
    background-color: #3a4750;
    border: 0.1em solid #303841;
    color: #eeeeee;
}

.card:hover img{
    border-bottom: 0.1em solid #303841;
}

.card:hover a{
    background-color: #eeeeee;
    border: #eeeeee;
    color: #303841;
}

.card img {
    width: 100%;
    height: 60%;
    border-bottom: 0.1em solid #f6c90e;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.3s;
}